<main>
  <h1>{{title}}</h1>
  {{#each posts as |post|}}
    <section>
      <div class='post'>
        <h2>{{post.title}}</h2>
        <div class='post-info'>
          <p>Author</p>
          <p>Date</p>
        </div>
        <div class='post-image'>
          <img src='{{post.imageUrl}}' alt='{{post.description}}' />
        </div>
        <div class='post-description'>
          <p>{{post.description}}</p>
        </div>
      </div>
    </section>
  {{/each}}
</main>